/* navbar */

.navbar{
  height: 100px;
  width: 100vw;
  margin: 0 auto;
  color: brown;
  background-color: rgb(227, 227, 222);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items{
  display: flex;
  margin-right: 30px;
}
.nav-logo{
  margin-left: 30px;
}
.nav-items a{text-decoration: none;
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

/* Error page */

.error{
  height:80vh;
  width:100vw;
  /* background-color: aqua; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.error-code{
  position: absolute;
  z-index: -1;
  color: whitesmoke;
  font-size: 5rem;
}
.error-para{
  position: absolute;
  font-weight: 800;
  color: grey;
}
.error a{
  margin-top: 200px;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
}

/* Home page */
.home-container{
  width: 80%;
  margin: 10px auto;
  margin-top: 10px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-route-search{
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.home-bus-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.home-search-button button{
  width: 100%;
  padding: 5px 9px 5px 9px;
}

/* Add js */

.add-container{
  width:80%;
  margin: 5px auto;
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-bus-name-time{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-bus-name-time input{
  width: 60%;
  font-size: 1.3rem;
}
.timetable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.routes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* position: relative; */
}
/* .routes-child{
  display: inline-block;
} */

.stopages-with-time{
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.routes input{
  width: 60%;
  font-size: 1.3rem;
}
.btn{
  /* position: absolute; */
  width: fit-content;
  padding: 6px;
  background-color: #ccc;
  font-size: 0.9rem;
  color: rgb(75, 76, 76);
  border: 1px solid black;
  cursor: pointer;
}
.add{
  padding: 4px 6px;
  height: fit-content;
}
.each-stop{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
}
input[type=time] {
  width: fit-content;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}